extends ../layout

block content
  h1= title
  div.table-responsive
    if !user
        h2 Not data
    else
        table.table
            thead
                tr
                    th ID
                    th UserName
                    th Email
            tbody
                tr
                    td #{user.id}
                    td #{user.username}
                    td #{user.email}
        