extends ../layout

block content
  h1= title
  div.table-responsive
    table.table
        thead
            tr
                th ID
                th UserName
                th Email
        tbody
            each user in users
                tr
                    td #{user.id}
                    td #{user.username}
                    td #{user.email}